
.book-split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  .book-left {
     margin-top: 70px;
    left: 0;
    background-color: rgb(36, 36, 36);
  
  }
  
  .book-right{
    height: 700px;
    margin-top: 70px;
    right: 0;
    background-color: rgb(36, 36, 36)
  }
  
  .book-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
 
  
  
   img{
    height: 400px;
    
  }

  .book-p{
      margin: 100px;
      text-align: center;
      font-size: 15px;
      background-color: rgb(19, 18, 18);
      padding: 30px;
      color: whitesmoke;
      border-radius: 20px;
      width: 450px;
      height: min-content;
  }