body{
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
}

.column{
    margin: 20px;
    padding: 5px;
    background-color:#8b95b3;
    border-radius: 5px;
   height: 200px;
}

.row button{
    background-color: #242424;
    border: none;
    color: whitesmoke;
    padding: 2px 6px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 5px;
}

.row button:hover{
    background-color:gray;
   
}