
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
   
  }
  
  .left {
     margin-top: 70px;
    left: 0;
    background-color:rgb(36, 36, 36);
  
  }
  
  .right {
    height: 700px;
    margin-top: 70px;
    right: 0;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    
  }
  
  .img-main{
    background-color: rgb(22, 22, 22);
    padding: 2px;
    border-radius: 2px;
  }
  
  .img-main{
    padding: 10px;
    
  }
   img{
    height: 450px;
  }