.login-main{
  background: #e2e2e2;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
}
.login-sub{ 
  width: 400px;
  height: 400px;
  background-color:rgb(36, 36, 36);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 1em 2em;
  border-bottom: 10px solid #8b95b3;
  border-top: 10px solid rgb(139, 149, 179);
  display: table;
  border-radius: 10px;
}
.login-sub input{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(139, 149, 179);
    border-radius: 3px;
    box-sizing: border-box;
}
.login-sub button{
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #555555;
    border-radius: 5px;
}



button:hover{
    background-color: #3d3d3d;
    color: white
}


